{% extends 'base.html' %}

{% block title %}NIST {{ user.student.name }} | Dashboard{% endblock %}

{% block css%}
<link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">
{% endblock %}

{% block content%}


<div class="container-sm">
    {% set user = user %}
    {% include 'student_header.html' %}
    <div style="min-height: 80vh;" class="main-box mt-5">
      <h1 style="color: #D35B1F;">{{ greet }} {{ user.student.name }}</h1>
      <div class="row">
            <div class="col-md-6 mt-3">
                <div style="height: 100%;" class="box-card p-4">
                    <div class="text-left">
                        <p class="label-text mb-1">Number of</p>
                        <h3 class="title-text mb-0">Drives applied</h3>
                    </div>
                    {% if applications %}
                    <h1 class="count-text mb-0 text-end">{{ applications | length }}</h1>
                    {% else %}
                <p class="label-text mb-1">No data</p>
                {% endif %}
                </div>
            </div>

            <div class="col-md-6 mt-3">
                <div class="box-card p-4">
                    <div class="text-left">
                        <p class="label-text mb-1">Application</p>
                        <h3 class="title-text mb-0">Status</h3>
                    </div>
                    <ul class="d-flex justify-content-around mt-3">
                      <li>Applied: <span style="color: #D35B1F;" class="fw-bold">{{ applied }}</span></li>
                    <li>Shortlisted: <span style="color: #D35B1F;" class="fw-bold">{{ shortlisted }}</span></li>
                    <li>Selected: <span style="color: #D35B1F;" class="fw-bold">{{ selected }}</span></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
          <h2 class="mt-5">Your Applications</h2>
          {% if applications %}
            {% for drive in applications[:-1] %}
            <div class="layout-row row mt-4 mx-1 align-items-center">
            <div class="col-12 col-md-8 d-flex align-items-center">
                <div class="img-box flex-shrink-0">
                    <img class="rounded-circle"
                        src="{{ url_for('static', filename='uploads/profiles/' + drive.drive.company.profile_filename) }}" alt="">
                </div>
                <div class="text ms-4">
                    <div class="box d-flex flex-column align-items-start mb-2">
                        <div class="box d-flex align-items-center gap-4 mb-2">
                            <h5>{{ drive.drive.company.company_name }} | {{ drive.drive.job_title }}</h5>
                        {% if drive.status == 'applied' %}
                                {% set status = 'Applied' %}
                                {% include '/labels/orange_label.html' %}
                            {% elif drive.status == 'shortlisted' %}
                                {% set status = 'Shortlisted' %}
                                {% include '/labels/blue_label.html' %}
                            {% elif drive.status == 'selected' %}
                                {% set status = 'Selected' %}
                                {% include '/labels/green_label.html' %}
                            {% else %}
                                {% set status = 'Rejected' %}
                                {% include '/labels/red_label.html' %}
                            {% endif %}
                        </div>
                    </div>
                    <p class="mb-0">{{ drive.drive.location }} | {{ drive.drive.work_mode }} | {{ drive.drive.job_type }}</p>
                </div>
            </div>
            <div class="col d-flex justify-content-end align-items-center">
                <a href="{{ url_for('student.driveDetails', drive_id=drive.drive.id) }}">
                    <button style="background-color: black; color: white;" class="shadow primary-btn">
                        View Details
                    </button>
                </a>
            </div>
        </div>
            {% endfor %}
            <div class="row text-right">
            <a href="{{ url_for('student.applications') }}" class="mt-2 d-flex justify-content-end" style="color: #D35B1F;">Show more</a>
          </div>
          {% else %}
           <div class="row mt-4 mx-1 align-items-center">
            <p class="text-secondary">You have not applied for any placement drives</p>
           </div>
          {% endif %}
        </div>
    </div>
</div>

</div>

{% include 'footer.html' %}
{% endblock %}