.drive-btn {
    background-color: black;
    color: white;
    padding: 8px 20px;
    border: None;
}

.no-drive {
    height: 80vh;
}

.drive-row {
    height: 140px;
    border: 1px solid black;
    border-radius: 44px;
}
.col button {
    background-color: white;
    padding: 8px 20px;
    border: 1px solid black;
    border-radius: 44px;
    margin-right: 10px;
}