.img-box img {
    height: 120px;
    width: 120px;
}

.custom-btn{
    background-color: #D35B1F;
    color: white;
    border: 1px solid transparent;
}

.custom-btn:hover{
    background-color: #c35219;
    color: white;
    border: 1px solid #D35B1F;
}

span {
    font-weight: 600;
}

@media (max-width: 576px) {
    
}