{% extends 'base.html' %}

{% block title %}NIST ADMIN | Drives{% endblock %}

{% block css%}
<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">
{% endblock %}

{% block content%}



<div class="container-sm">
    {% include 'admin_header.html' %}

    <div style="height: 100vh;" class="section mt-5">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, msg in messages %}
        <div class="alert alert-{{ category }}" role="alert">
            {{ msg }}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}

        {% if pending_request %}
        <div class="approval-pending-box">
            <h2>Approval pending</h2>
            {% for drive in pending_request %}
            <div class="layout-row row mt-3">
                <div class="col d-flex align-items-center">
                    <div class="img-box">
                        <img class="rounded-circle"
                            src="{{ url_for('static', filename='uploads/profiles/' + drive.company.profile_filename) }}"
                            alt="">
                    </div>
                    <div class="text ms-4">
                        <h5>{{ drive.company.company_name }} | {{ drive.job_title }}</h5>
                        <p>{{ drive.location }} | {{ drive.work_mode }} | {{ drive.job_type }}</p>
                    </div>
                </div>
                <div class="col d-flex justify-content-end align-items-center">
                    <a href="{{ url_for('admin.driveDetails', drive_id=drive.id) }}">
                        <button class="btn primary-btn btn-dark rounded-pill shadow">
                            Know More
                        </button>
                    </a>
                </div>

            </div>
            {% endfor %}
        </div>
        {% endif %}

        <div class="company-list mt-5">
            <h2>All Drives</h2>
            {% if all_drives %}
            {% for drive in all_drives %}
             <div class="layout-row row mt-4 mx-1 align-items-center">
            <div class="col-12 col-md-8 d-flex align-items-center">
                <div class="img-box flex-shrink-0">
                    <img class="rounded-circle"
                        src="{{ url_for('static', filename='uploads/profiles/' + drive.company.profile_filename) }}" alt="">
                </div>
                <div class="text ms-4">
                    <div class="box d-flex flex-column align-items-start mb-2">
                        <h6 class="m-0" style="font-size: 25px;">{{ drive.company.company_name }} | {{ drive.job_title }}</h6>
                    </div>
                    <p class="mb-0">{{ drive.location }} | {{ drive.work_mode }} | {{ drive.job_type }}</p>
                </div>
            </div>
            <div class="col d-flex justify-content-end align-items-center">
                <a href="{{ url_for('admin.driveDetails', drive_id=drive.id) }}">
                    <button style="background-color: black; color: white;" class="shadow primary-btn">
                        View Details
                    </button>
                </a>
            </div>
        </div>

            {% endfor %}
            {% else %}
            <div style="height: 80vh;" class="no-drive d-flex flex-column align-items-center justify-content-center gap-4">
            <img style="height: 250px;" src="{{ url_for('static', filename='images/no-data.svg') }}" alt="">
            <p class="text-secondary">No drives found</p>
        </div>
            {% endif %}
        </div>

    </div>

</div>

{% include 'footer.html' %}
{% endblock %}