{% extends 'base.html' %}

{% block title %}NIST {{ company.company_name }} | Placement Drives{% endblock %}

{% block css%}
<link rel="stylesheet" href="{{ url_for('static', filename='css/company_drives.css') }}">
{% endblock %}

{% block content%}


<div class="container-sm">
    {% set company_logo = company.profile_filename %}
    {% include 'company_header.html' %}
    <div class="main-box mt-5" style="min-height: 100vh;">
        {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, msg in messages %}
            <div class="alert alert-{{ category }}" role="alert">
  {{ msg }}
</div>
        {% endfor %}
    {% endif %}
{% endwith %}
        <div class="btn-row d-flex justify-content-between">
            <div class="">
                <h2>All Drives</h2>
            </div>
            <div class="d-flex gap-2">
                <form method="get" action="{{ url_for('company.drives') }}" id="filterForm"
                        class="d-flex gap-3">
                        <select name="filter-by-status" class="form-select mb-4 rounded-pill"
                            onchange="this.form.submit()">
                            <option value="">Filter by Status</option>
                            <option value="pending" {% if request.args.get('filter-by-status')=='pending' %}selected{%
                                endif %}>Pending</option>
                            <option value="approved" {% if request.args.get('filter-by-status')=='approved'
                                %}selected{% endif %}>Approved</option>
                            <option value="closed" {% if request.args.get('filter-by-status')=='closed' %}selected{%
                                endif %}>Closed</option>
                        </select>
                    </form>
            <a href="{{ url_for('company.createDrive') }}">
                <button class="custom-btn rounded-pill shadow">
            Create new drive
        </button>
            </a>
            </div>
        </div>
        {% if drives %}
        <div style="height: 80vh;">
            {% for drive in drives %}
                <div class="drive-row row mt-3">
                <div class="col d-flex align-items-center">
                    <div class="text ms-4">
                        <div class="box d-flex align-items-center gap-4 mb-2">
                            <h5 class="mb-0" style="font-size: 25px;">{{ drive.job_title }}</h5>
                            {% if drive.status == 'pending' %}
                                {% set status = 'Pending' %}
                                {% include 'low_label.html' %}
                            {% elif drive.status == 'approved' %}
                                {% set status = 'Approved' %}
                                {% include 'high_label.html' %}
                            {% elif drive.status == 'closed' %}
                                {% set status = 'Closed' %}
                                {% include 'rejected_label.html' %}
                            {% else %}
                                {% set status = 'Closed' %}
                                {% include 'rejected_label.html' %}
                            {% endif %}
                        </div>
                        <p class="mb-0">{{ drive.location }} | {{ drive.work_mode }} | {{ drive.job_type }}</p>
                    </div>
                </div>
                <div class="col d-flex justify-content-end align-items-center">
                    <a href="{{ url_for('company.driveDetails', drive_id=drive.id) }}">
                        <button class="btn primary-btn btn-dark shadow">
                        View Detail
                    </button>
                    </a>
                </div>

            </div>
            {% endfor %}
        </div>
        {% else %}
            <div style="height: 80vh;"
                    class="no-drive d-flex flex-column align-items-center justify-content-center gap-4">
                    <p class="text-secondary">No drive found</p>
                </div>
        {% endif %}

    </div>

    
</div>

{% include 'footer.html' %}
{% endblock %}