<footer class="site-footer mt-5">
  <div class="container-sm">
    <div class="d-flex flex-column flex-md-row align-items-baseline gap-2 pt-5">
  <h1 class="footer-logo fw-bold">NIST</h1>
  <p class="mb-0">Nexus Institute of Science & Technology</p>
</div>
    <hr>
    <p class="pb-4 mb-0 text-center" style="font-weight: 500;">&copy; 2026 Nexus Institute of Science & Technology. All Rights Reserved.</p>
    <p class="pb-4 mb-0 text-center">
      <strong>Disclaimer:</strong> This is a hypothetical portal created solely for the Modern Application Development project (IIT Madras BS Data Science).
    </p>
  </div>
</footer>