<nav class="navbar navbar-expand-lg border border-secondary-subtle rounded-pill shadow sticky-top navbar-style">
  <div class="container-fluid">
    <a class="navbar-brand logo fw-bold me-auto" href="/">NIST</a>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title logo" id="offcanvasNavbarLabel">NIST</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-center align-items-center gap-3 flex-grow-1 pe-3">
          <a class="nav-link {% if request.endpoint == 'student.dashboard' %}active{% endif %}"
              href="{{ url_for('student.dashboard') }}">
            Dashboard
          </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if request.endpoint == 'student.search' %}active{% endif %}"
              href="{{ url_for('student.search') }}">
              Search
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if request.endpoint == 'student.drives' %}active{% endif %}"
              href="{{ url_for('student.drives') }}">
              Drives
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if request.endpoint == 'student.applications' %}active{% endif %}"
              href="{{ url_for('student.applications') }}">
              Applications
            </a>
          </li>
          <li class="nav-item d-lg-none">
  <a class="nav-link"
     href="{{ url_for('student.profile') }}">
    Profile
  </a>
</li>
          <li class="nav-item d-lg-none">
  <a class="nav-link text-danger fw-semibold"
     href="{{ url_for('auth.logout') }}">
    Logout
  </a>
</li>
        </ul>
        <div class="dropdown d-none d-lg-block">
          <button class="btn p-0 border-0 bg-transparent profile-btn rounded-pill" type="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            <img src="{{ url_for('static', filename='uploads/profiles/' + user.student.profile_filename) }}" alt="Profile photo" />
          </button>
          <ul class="dropdown-menu dropdown-menu-end">
            <li><a class="dropdown-item" href="{{ url_for('student.profile') }}">Profile</a></li>
            <li>
              <a class="dropdown-item text-danger" href="{{ url_for('auth.logout') }}">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
      aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>

{% if user.is_blacklisted %}
<div class="container mt-5">
  <div class="alert alert-danger alert-dismissible" role="alert">
    Your account has been <span class="fw-semibold">blacklisted</span> and is now restricted to 
    <span class="fw-semibold">read-only</span> access. <strong>Reason:</strong> {{ user.blacklist_reason }}.
  </div>
</div>
{% endif %}